<app-header configType = "home" ></app-header>
<div class="main">
  <div class="video">
    <video id="myVideo" src="./assets/OEGT.mp4" [autoplay]="true" [muted]="true"></video>
  </div>
  <div class="grid-container">
    <div class="grid-item1">
      <img class="kriszlogo" src="./assets/krisz+logo.png" alt="kriszlogo">
    </div>
    <div class="grid-item2">
      <button class="hideButton" *ngIf="showButton" (click)="toggleParagraph()">Info</button>
      <p class="about-text" *ngIf="isPVisible" >Lorem Ipsum <br><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec volutpat
        risus sem, non dictum tortor ullamcorper ac. Praesent ornare venenatis nisl, sed fermentum dui tincidunt eget.
        Suspendisse non est vitae quam lacinia feugiat. Mauris ornare risus et purus eleifend fermentum. Nam at lacus
        viverra, accumsan eros in, semper metus. Nam sed suscipit velit, vel rutrum leo. Maecenas gravida cursus
        consequat. Curabitur sed mattis felis. Fusce eu quam non urna mattis aliquam eget ut velit.</p>
    </div>
    <app-social class="grid-item3" social></app-social>
  </div>
</div>
<app-footer></app-footer>
